body {
  background-color: green;
}

.auth-OvaleRed {
  /* position: absolute;
  width: 247.57px;
  height: 100.85px;
  left: 70%;
  top: 819.25px; */
}

.auth-Ovale {
  position: absolute;
  width: 495.64px;
  height: 170px;
  right: -5%;
  bottom: 14%;

  border: 1px solid #e36164;
  border-radius: 81px;
  transform: rotate(-30deg);
}
